<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('./layout/head.ejs') %>
  
  </head>
  <body>
    <%- include('./layout/header.ejs') %>
    <div class = "displayArea">
    <ul id = "results">
    <% apples.forEach(result => { %>
    <div id = "testing">
    <form action="/favorites" method="get">
      <img src="<%= result.picture %>" class = "blogPhoto"/>
      <li id = "blogPost">Title: <%= result.name %></li>
      <li id = "blogPost">Available On: <%= result.locations %></li>
      <li id = "blogPost">Your comments: <%= result.comments %></li>
    
      <input type="hidden" name="picture" value="<%= result.picture %>" />
      <input type="hidden" name="name" value="<%= result.name %>" />
      <input type="hidden" name="locations" value="<%= result.locations %>" />
      <input type="hidden" name="id" value="<%= result.id %>" />
    </form>
    <form action="/updateComments" method="post">
      <input type="hidden" name="id" value="<%= result.id %>" />
      <button type="submit">Update Comment</button>
    </form>
    <form action="/deleteFavorites" method="post">
      <input type="hidden" name="id" value="<%= result.id %>" />
      <button type="submit">Delete from my favorites</button>
    </form>
  </div>
    <% }) %>
  </ul>
</div>
</body>




</html>